body{
    background: #fff url(../img/tiles.png  ) repeat;
}

.navbar-container, .bg-mathnav-dark {
    background-color: #003366
}
.footer{
    color: #999;
}

.container.content-body {
    background-color: #DDDDDD;
    
}
.nav-item.nav-link {
    background-color: #0066CC
}
.active.nav-item.nav-link {
    background-color: #FF9933
}
.collapse.navbar-collapse {
    height:60px;
    margin: 0;
}
.nav-bottom .container{
    background-color: #333;
    height: 8em;
}
.centered {
	text-align: center;
}
@media (max-width: 380px) { 
    #mathPlot{
        width: 380px;
    }
}
.radio {
    color: white;
}